flask>=2.0.0
gunicorn>=20.1.0
torch
torchaudio
transformers
epitran
numpy
pandas
gTTS
ortools
dtwalign
jamo
unicode
g2pk
unidecode
noisereduce
pydub
librosa
soxr
Levenshtein
matplotlib
jellyfish
SentencePiece
accelerate
pyspellchecker
rapidfuzz

