html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #4158D0;
  max-width: 100%;
  margin: 0;
  padding: 20px;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/mauriciodallonder-64688.appspot.com/o/bandeira.jpg?alt=media&token=93383751-b852-4b4a-89e9-82037c09f9da');
  background-size: cover;
  background-attachment: fixed;
}
.container {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}
.main-content, .feedback-box {
  margin-bottom: 20px;
}
.word {
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
  color:#4158D0;
  border-radius: 5px;
}
.separator {
  color: red;
  margin-right: 5px;
}
.incorrect {
  color: red;
}
.correct {
  color: green;
}
.btn-speak {
  display: block;
  margin-top: 10px;
  width: 100%;
}
.recording {
  color: red;
}
.uploading-message {
  display: none;
  color: red;
}
.textarea {
  width: fit-content;
  height: fit-content;
  resize: none; /* Impede o redimensionamento manual */
  overflow: hidden; /* Remove todas as barras de rolagem */
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  min-height: 60px;
  line-height: 1.5;
}
select {
  width: 100%;
  max-width: 600px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

optgroup {
  font-weight: bold;
  color: #2c3e50;
}

option {
  padding: 4px;
}
.explica{
  font-size: 14px !important;
  font-weight: bold !important;
}

/* Responsividade para telas menores */
@media (max-width: 767px) {
  /* Ajusta a largura do textarea para ocupar o espaço total */
  .form-control {
    width: 100%;
    font-size: 16px;
    height: 100px;
  }

  /* Ajusta o espaçamento e alinhamento para evitar sobreposição */
  .flex-md-row {
    display: block;
    width: 100%;
  }

  .main-content, .feedback-box {
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }

  #translation,
  #pronunciation {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 8px;
    color:#4158D0
  }

  /* Ajuste do tamanho da fonte e do espaçamento */
  .form-label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  #feedbackBox {
    padding: 10px;
    font-size: 16px;
  }
  .classButton{
    display: flex;
    flex-direction: column;
  }
  .word{
    font-size:medium;
    line-height: 1.6rem;
  }
 
}

/* Ajuste para telas maiores */
@media (min-width: 768px) {
  .flex-md-row {
    display: flex;
    justify-content: space-between;
  }

  .main-content {
    flex: 0 0 65%;
  }

  .feedback-box {
    flex: 0 0 30%;
    margin-left: 20px;
    border: 2px solid #3b5998;
    border-radius: 10px;
    padding: 20px;
   
  }
  
}

.classButton{
  display: flex;
  justify-content: center;
  gap:12px
  
}
